body{
	background-color: #B19292;
	font-family: Verdana,sans-serif ;
}
.header{
	background-color: #3F2727;
	overflow: hidden;
	height: 80px;
	color:#b19292;
}
.header a{
	font-size: 24px;
	text-decoration: none;
	color:#b19292;
}
.menu{
	margin: 0 10px 0 0;
	float: right;
}
.menu a{
	margin-right: 20px;
	font-size: 14px;
	text-decoration: underline;
}
h2{
	text-transform: uppercase;
	color: #372424
}
.content{
	width: 900px;
	margin: 0 auto;
}
.comment{
			
	background-color: #B18181;
}
.comment p{
	padding-left: 10px;
	text-align: left;
	word-wrap: break-word;
}
textarea{
	width:100%;
	resize: vertical;
}